main {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("images/bridge\ background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* HEADER STYLES */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 3vh auto;
    font-family: 'Righteous', cursive;
    font-size: 9.1vh;
    font-weight: bold;
}

/* Cropped Logo Image */
.giphyLogo {
    max-height: 10.5vh;
    margin-right: 1vw;
}

/* Cropped Letter Image */
.giphyLetters {
    max-height: 7vh;
    margin-left: 1vw;
}

/* API IMAGE DISPLAY */

/* Container for parents */
.slider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}

/* This contains the giphy generated images */
.parent3 {
    margin: 0vw auto;
    width: 0vw;
    height: auto;
}

.parent1 {
    margin: 0 auto;
    width: 100vw;
    height: auto;
}

.parent2 {
    margin: 0 auto;
    width: 0vw;
    height: auto;
}

/* This manages the size and appearance of the generated images */
.giphy1, .giphy2, .giphy3 {
    display: block;
    width: 50vw;
    height: 50vh;
    margin: 0 auto;
    background-size: stretch;
    background-repeat: no-repeat;
    background-position: center;
}

/* BUTTON STYLES */

/* Button Container */
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-around;
    text-align: center;
    margin: 0 auto;
    width: auto;
}

/* Button Styler */
.button {
    margin: 15vh 1vw 6vh 0.2vw;
    text-align: center;
    padding: 1vh 1vw;
    border: 0px solid rgba(0, 0, 0, 0.301);
    font-family: 'Prompt', sans-serif;
    font-size: 3vmin;
    font-weight: normal;
    text-shadow: 0px 0.125vw 0px rgba(255, 255, 255, 0.3), 0px -0.125vw 0px rgba(29, 29, 29, 0.7);
    color: white;
    background-color: rgb(0, 0, 255);
    width: 25vmin;
    cursor: pointer;
    box-shadow: 0.1vh 0.1vw 0.1vh rgb(0, 0, 220),
                0.1vh 0.2vw 0.1vh rgb(0, 0, 220),     /*| This gives the buttons    |*/
                0.1vh 0.3vw 0.1vh rgb(0, 0, 220),     /*| a 3D appearance by adding |*/
                0.1vh 0.4vw 0.1vh rgb(0, 0, 220),     /*| layers of shadows         |*/
                0.1vh 0.5vw 0.1vh rgb(0, 0, 220),
                0.1vh 0.9vw 0.6vh rgba(160, 160, 160, 0.3),
                0.1vh 1.1vw 0.8vh rgba(160, 160, 160, 0.1),                 
                0.1vh 1.3vw 1.0vh rgba(160, 160, 160, 0.3)
}

/* This gives the buttons a round edge on their outer corners */
#pre { border-top-left-radius: 50vh; border-bottom-left-radius: 50vh; }
#next { border-top-right-radius: 50vh; border-bottom-right-radius: 50vh; }

/* This prevents the highlight around the buttons after you click them */
.button:focus { outline: none; }

/* BUTTON ANIMATIONS */

/* When clicked, the buttons will appear to be pressed */
.button:active {
    box-shadow: 0.1vh 0.1vw 0.1vh rgb(0, 0, 220),
                0.1vh 0.2vw 0.1vh rgb(0, 0, 220),
                0.1vh 0.9vw 0.6vh rgba(160, 160, 160, 0.3),
                0.1vh 1.1vw 0.8vh rgba(160, 160, 160, 0.1),                 
                0.1vh 1.3vw 1.0vh rgba(160, 160, 160, 0.3);
    transform: translateY(0.3vh);
}

/* Initial position of letters before hovering */
.button span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

/* Makes a left-pointing arrow icon appear to the left of the 'PREVIOUS' letters */
.button .previous:before {
    content: "\00ab";
    position: absolute;
    opacity: 0;
    top: 0;
    left: -20px;
    transition: 0.5s;
}

/* Makes a right-pointing arrow icon appear to the right of the 'NEXT' letters */
.button .next:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

/* Animates 'PREVIOUS' letters to shift to the right */
.button:hover .previous {
    padding-left: 25px;
}

/* Animates 'NEXT' letters to shift to the left */
.button:hover .next {
    padding-right: 25px;
}

/* Makes arrow icon appear and shifts 'PREVIOUS' letters to the right after hovering */
.button:hover .previous:before {
    opacity: 1;
    left: 0;
}

/* Makes arrow icon appear and shifts 'NEXT' letters to the left after hovering */
.button:hover .next:after {
    opacity: 1;
    right: 0;
}